body {
  background-color: #19547b;
  font-family: 'Oswald', sans-serif;
  color: black;
  text-align: center;
}

.banner {
  background: linear-gradient(#ffd89b, #19547b);
  height: 100vh;
  width: 100%;
}

h1 {
font-size: 60px;
color: #F7F7F7;
margin-top: 60px;
}

h2 {
  font-size: 35px;
color: #F7F7F7;

}

h3 {
  font-size: 25px;
color: #81786e;
}

p {
  font-size: 15px;
color: #F7F7F7;

}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin-top: 100px;
}

a {
  color: black;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
}

a img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffd89b;
}

.project {
  position: relative;
  width: 50%;
}

.project:hover .overlay {
  opacity: .75;
}




.card {
  border-radius: 3%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

#name-tag {
  color: #ffd89b;
}

.page-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

img {
  height: 40%; 
  width: 40%;
}

i.skill-icon {
  font-size: 100px;
  margin-bottom: 15px;
}

/* .skill-header {
  margin-top: 15px;
  margin-bottom: 15px;
} */
